{% extends 'base.html' %}

{% block title %}404 - Page Not Found{% endblock %}

{% block content %}
<div style="display: flex; justify-content: center; align-items: center; margin-bottom: 20px;margin-top: 10%">
    <img src="/static/Image/error.jpg" alt="error" width="400">
</div>

<div class="error-container" style="display: flex; justify-content: center; align-items: center; text-align: center;">
    <div>
        <div class="error-code" style="font-size: 72px; font-weight: bold; color: #343a40;">404</div>
        <div class="error-message" style="font-size: 24px; color: #6c757d;">Oops! The page you're looking for cannot be found.</div>
    </div>
</div>
<div class="container-center">
    <a href="/" class="btn btn-primary mt-3 quizresult-button">Back To Home Page🚀</a>
</div>
{% endblock %}
