{% extends 'base.html' %}

{% block title %}Company Data - EmpowerWomen{% endblock %}

{% block content %}


<div class="container_background_6">
    <div class="companydata-title">Help you find the company that best<br> matches your career goals</div>

    <div class="search-container">
        <form id="search-form">
            <input type="text" id="search-input" name="search_query" placeholder="Search...">
            <button type="submit" id="search-button">Search</button>
        </form>
    </div>


    <div id="search-results"></div>

    <script src="script.js"></script>
</div>
<script>
    // Attach event listener for form submission
    document.getElementById('search-form').addEventListener('submit', function (event) {
        event.preventDefault();  // Prevent the form from submitting traditionally


        // Grab the search query
        const searchQuery = document.getElementById('search-input').value;


        // Perform AJAX request
        fetch('/searchdata', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: `search_query=${encodeURIComponent(searchQuery)}`
        })
            .then(response => response.text())  // Convert the response to text
            .then(data => {
                console.log(data);  // Log response to the console
                document.getElementById('search-results').innerHTML = data;  // Display the response inside the div
            })
            .catch(error => console.error('Error:', error));
    });
</script>


{% endblock %}