{% extends 'base.html' %}

{% block title %}Homepage - EmpowerWomen{% endblock %}

{% block content %}

<div class="container_background">
    <div class="home-title">Empower Mother: Redefining Your Career Journey</div>
    <div class="home-subtext">

        Our mission is to provide you with the tools, resources, and support you need to chart your career path, <br> break through barriers, and achieve your career goals.
    </div>
</div>

<div class="description_container">
    <div class="description-title">
        Barriers faced by mothers returning to work
    </div>
    <div class="description-text">
        In Australia, the Labour force participation rate for women (62.2%) is significantly lower than for men (71.0%), and women are the primary carer in 52% of households. In addition, more than 41% of women returning to work received a lower rating from their employer and 85% felt they struggled to balance work and life commitments.
    </div>
</div>

<div class="barriers-container">
    <div class="barrier">
        <div class="card">
            <div class="card-front">
                <h3>Motherhood Penalty</h3>
            </div>
            <div class="card-back">
                <p>The estimate of the "motherhood penalty" implies that having children has a larger impact on women's careers relative to men's.</p>
            </div>
        </div>
    </div>
    <div class="barrier">
        <div class="card">
            <div class="card-front">
                <h3>Flexible Work</h3>
            </div>
            <div class="card-back">
                <p>Finding positions that offer flexible hours or remote work options can be difficult, especially for those who need to juggle childcare.</p>
            </div>
        </div>
    </div>
    <div class="barrier">
        <div class="card">
            <div class="card-front">
                <h3>Skills Gaps</h3>
            </div>
            <div class="card-back">
                <p>Rapid changes in technology and industry practices can create gaps in skills or knowledge.</p>
            </div>
        </div>
    </div>
    <div class="barrier">
        <div class="card">
            <div class="card-front">
                <h3>Bias and Stereotypes</h3>
            </div>
            <div class="card-back">
                <p>Women face bias related to maternity or childcare responsibilities. Stereotypes about mothers in the workplace can affect hiring decisions and promotions.</p>
            </div>
        </div>
    </div>
</div>


<div class="services-section">
    <h2>What Can We Provide</h2>
    <div class="services-container">
        <div class="service">
            <img src="/static/Image/ChartPad.jpg" alt="Skill Set Page" style="width: 100%; margin-top: 15px">
            <p>Industry Skills</p>
        </div>
        <div class="service">
            <img src="/static/Image/ChartComputer2.jpg" alt="Skill Trend Page" style="width: 100%; margin-top: 15px">
            <p>Skill and Role Matching</p>
        </div>
    </div>
</div>

{% endblock %}