<!DOCTYPE html>
<html>

<head>
    <title>EmpowerWomen</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/stylesheet.css') }}">
    <script src="{{ url_for('static', filename='Js/script.js') }}"></script>
</head>

<body>
    <div class="">
    </div>
</body>

</html>
