{% extends 'base.html' %}

{% block title %}Homepage - EmpowerWomen{% endblock %}

{% block content %}

<div class="container_privacy">
    <h1>
        Privacy Statement
    </h1>
    <p1>
        Welcome to the Empower women website. We take your privacy very seriously and are committed to protecting all
        personal information you provide when you use our website. If you continue to use our platform, products or
        services, you agree to any changes to this Privacy Policy.
        <br>
        <br>
        Remember that you have control over the personal information you provide to us. Most of the personal information
        we collect comes from you and you can request changes to or access your details at any time.
        <br>
        <br>
        <b>Information Security Protection</b>
        <br>
        <br>
        Empower Women is committed to protecting privacy and to responsible and transparent collection, storage, use and
        disclosure of personal information in providing services.
        <br>
        <br>
        <b>Information We Collect</b>
        <br>
        <br>
        <b>Personal Information</b>
        <br>
        <br>
        We may collect personal information that you choose to provide to us or that we need to provide you with
        specific services (such as name, contact information, email, educational background, etc.)
        <br>
        <br>
        Professional background, skills, education, work experience and other resume-related information
        Other personal information or documents you provide
        <br>
        <br>
        We only collect anonymous information. No personally identifiable data is collected.
        <br>
        <br>
        <b>Request for Information</b>
        <br>
        <br>
        Providing us the requested information is voluntary. If you do not choose to provide us with the requested
        information, we may not be able to respond to you or provide you with the services you seek.
        <br>
        <br>
        <b>Use and Disclosure of Personal Information</b>
        <br>
        <br>
        The personal information you provide to us through https://harmonyseekers.servebeer.com/ will be used for the
        primary purpose for which it was collected. For example:
        <br>
        <br>
        To enable us to respond to your questions or feedback;
        work on your resume revision
        your mock interview
        Provide resume screening services and skills recommendations
        Communicate with you to provide updates and notifications about our services
        Improve and optimize our website and services
        <br>
        <br>
        Importantly, we will never rent, sell or exchange your personal information without your consent.
        <br>
        <br>
        <b>Changes to this Privacy Policy</b>
        <br>
        <br>
        By using this website and sharing your personal information with us, you acknowledge and agree to the Website
        Terms of Use and this Privacy Policy. We may update this policy periodically, so we encourage you to review it
        regularly to stay informed about any changes.
        <br>
        <br>
        This Privacy Policy was last updated on 2 September 2022. Any modifications to this policy will be reflected on
        this website.
        <br>
        <br>
        Please note that this notice informs you of these updates. This version, along with any future revisions,
        replaces the previous Privacy Policy and will take effect from the date it is published online.
    </p1>
</div>

{% endblock %}