{% extends 'base.html' %}

{% block title %}Homepage - EmpowerWomen{% endblock %}

{% block content %}

<div class="container_privacy">
    <h1>
        Privacy Statement
    </h1>
    <p1>
        <br>
        <br>
        Welcome to the EmpowerWomen website. We take your privacy seriously and are committed to protecting all
        personal information you provide when you use our website. If you continue to use our platform, products or
        services, you agree to any changes to this Privacy Statement.
        <br>
        <br>
        <b>Information Security</b>
        <br>
        <br>
        EmpowerWomen is committed to protecting privacy and ensuring the responsible and transparent collection, storage, 
        use, and disclosure of personal information when providing services.
        <br>
        <br>
        <b>Personal Information</b>
        <br>
        <br>
        Professional background, skills, education, work experience and other resume-related information
        Other personal information or documents you provide.
        <br>
        All information collected will be anonymized. No personally identifiable data is collected.
        <br>
        <br>
        <b>Request for Information</b>
        <br>
        <br>
        Providing us the requested information is voluntary. If you do not choose to provide us with the requested
        information, we may not be able to respond to you or provide you with the services you seek.
        <br>
        <br>
        <b>Use and Disclosure of Personal Information</b>
        <br>
        <br>
        The personal information you provide to us through https://empowerwomen.live will be used for the
        primary purpose for which it was collected. For example:
        <br>
        <br>
        To enable us to respond to your questions or feedback;
        Generate content for your on your resume
        Improve and optimize our website and services
        <br>
        <br>
        We will never sell or exchange your personal information.
        <br>
        <br>
        <b>Changes to this Privacy Statement</b>
        <br>
        <br>
        By using this website and sharing your personal information with us, you acknowledge and agree to the Website
        Terms of Use and this Privacy Statement. We may update this statement periodically, so we encourage you to review it
        regularly to stay informed about any changes.
        <br>
        <br>
        This Privacy Statement was last updated on 11 September 2024. Any modifications to this policy will be reflected on
        this website.
        <br>
        <br>
        Please note that this notice informs you of these updates. This version, along with any future revisions,
        replaces the previous Privacy Statement and will take effect from the date it is published online.
    </p1>
</div>

{% endblock %}