{% extends 'base.html' %}

{% block title %}SkillAssessmentPage - EmpowerWomen{% endblock %}

{% block content %}

<div>
    <h1>Quiz Results</h1>

    <table>
        <thead>
        <tr>
            <th>Competency</th>
            <th>Score</th>
            <th>Proficiency Level</th>
        </tr>
        </thead>
        <tbody>
        {% for competency, result in results.items() %}
        <tr>
            <td>{{ competency }}</td>
            <td>{{ result.score }}</td>
            <td>{{ result.proficiency }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="container">
    <a href="/skillass" class="btn btn-primary mt-3">Back To Assessment Page</a>
</div>


{% endblock %}
