{% extends 'base.html' %}

{% block title %}ResumeRefinementPage - EmpowerWomen{% endblock %}

{% block content %}

<div class="container">
    <div class="text-box">
        <h1>Resume Refinement</h1>
        <p>Rewrite your resume with Smart Scan. Use our AI rewriter to instantly rewrite your resume and craft
            job-specific content to land an interview.</p>
        <a href="#" class="button">Rewrite Your Resume with Scanning</a>
    </div>

    <div class="image-box">
        <img src="/static/Image/ResumeRe1.jpg" alt="Resume on Computer">
    </div>
    <div class="centered-button">
        <a href="#Charts" class="btn custom-pink-button mt-3">Rewrite Your Resume</a>
    </div>
</div>


{% endblock %}
