{% extends 'base.html' %}

{% block title %}SkillAssessmentPage - EmpowerWomen{% endblock %}

{% block content %}
<div class="container_background_5"></div>
<div>
    <body>
    <h1>Your Generated Resume 📋</h1>
    <div>
        <pre style="white-space: pre-wrap; word-wrap: break-word;">{{ resume }}</pre>
    </div>

    </body>
</div>
<div class="container-center">
    <a href="/ResumeGenerator">
        <button class="resume-button">
            Go Back 🚀
        </button>
    </a>
</div>


{% endblock %}
