{% extends 'base.html' %}

{% block title %}SkillAssessmentPage - EmpowerWomen{% endblock %}

{% block content %}

<div class="container_background_3">
    <div class="home-title">Skill Assessment</div>
    <div class="home-subtext">
        Find out about careers that might be right for you by taking one of our assessments.
    </div>
    <div class="centered-button">
        <a href="#quiz-section" class="btn btn-primary mt-3">Get Ready To Start</a>
    </div>
</div>

<!-- Industry Data Section -->
<div class="row mt-5">
    <div class="col-md-6">
        <h2 class="section-title">Online<br>Assessment</h2>
        <p class="section-text">Skills online assessments provide a personalized evaluation of your current
            capabilities,
            giving you a clear understanding of whether your skills are aligned with industry standards.
            By taking our assessments, you will gain a deeper understanding of your proficiency in key areas.</p>
    </div>
    <div class="col-md-6">
        <img src="/static/Image/skillass2.png" alt="Skillass2" class="img-fluid">
    </div>
    <div class="centered-button" id="quiz-section">
        <a href="/quiz" class="btn btn-primary mt-3">Attempt Quiz</a>
    </div>
</div>


{% endblock %}
