{% extends 'base.html' %}

{% block title %}SkillsPage - EmpowerWomen{% endblock %}

{% block content %}

<div class="container_background_1">
    <div class="home-title">Ready to exploit of industry skills trends?</div>
    <div class="home-subtext">

        Power Mom helps you gain insight into the key skills required for various industries and positions,
        so you can identify and focus on the areas that are most important to your career.
    </div>
    <div class="centered-button">
        <a href="#Charts" class="btn btn-primary mt-3">Get Ready To Start</a>
    </div>
</div>

<!-- Industry Data Section -->
<div class="row mt-5">
    <div class="col-md-6">
        <h2 class="section-title">Discover Potential Industry Data</h2>
        <p class="section-text">With our word cloud visualization, you can quickly grasp the essential skills required
            for various roles and
            stay ahead in the ever-changing workplace.</p>
    </div>
    <div class="col-md-6">
        <img src="/static/Image/skill1.jpg" alt="Industry Data" class="img-fluid">
    </div>
</div>

<!-- Deep Skills Insights Section -->
<div class="row mt-5">
    <div class="col-md-6 order-md-2">
        <h2 class="section-title">Deep Skills Insights</h2>
        <p class="section-text">Get a comprehensive understanding of the skills needed to excel in your chosen industry.
            By clicking on the
            word cloud or selecting a job category below, you can dive deeper into the specific skills employers seek,
            helping you quickly understand the capabilities needed for your position.</p>
    </div>
    <div class="col-md-6 order-md-1">
        <img src="/static/Image/skill2.jpg" alt="Skills Insights" class="img-fluid">
    </div>
</div>

<div class="container">
    <!-- Insert the iframe wordcloud -->
    <iframe src="http://ec2-13-236-153-22.ap-southeast-2.compute.amazonaws.com:3838/epic1" width="110%"
            height="1200px" style="border:none;"></iframe>
</div>

{% endblock %}
