{% extends 'base.html' %}

{% block title %}Skill Gap - EmpowerWomen{% endblock %}

{% block content %}


<div class="container_background_4">
    <div class="home-title">Access Skill Matching</div>
    <div class="home-subtext">
        We help you explore skills and job history trends gain insight into your core
        competencies in the returning workplace,and discover the career opportunities
        that best suit you!
    </div>
    <div class="centered-button">
        <a href="#Charts" class="btn btn-primary mt-3">Get Ready To Start</a>
    </div>
</div>

<div class="description_container">
    <div class="description-title">
        The Match My Skills
        <br>
        career personas
    </div>

</div>


{% endblock %}