{% extends 'base.html' %}

{% block title %}Homepage - EmpowerWomen{% endblock %}

{% block content %}

<!--still using the privacy page container-->
<div class="container_privacy">
    <h1>
        Introduction
    </h1>
    <p1>
        These Terms of Use govern your use of this website; by accessing and using this website,
        you accept these Terms of Use in full.
        If you disagree with any part of these terms, please do not use this website.
        <br>
        <br>
        You must be at least 18 years old to use this website.
        By using this website, you confirm and represent that you are at least 18 years old.
        By continuing to use this website, you agree to our privacy policy as set out in our Privacy Policy.
        <br>
        <br>
        <b>Website Use License</b>
        <br>
        <br>
        Unless otherwise stated, the intellectual property rights in this website and its content are owned by the licensor and are protected by law.
        All such intellectual property rights are inviolable except as provided in this license.
        Unless otherwise stated, the intellectual property rights in this website and its content are owned by the licensor and are protected by law.
        All such intellectual property rights are inviolable except as provided in this license.
        <br>
        <br>
        You may browse, download (for caching purposes only) and print pages from this website for your personal use only,
        subject to the restrictions below and as provided elsewhere in these Terms of Use.
        <br>
        <br>
        You may not:
        (a) sell, rent, sublicense or in any other way commercialise any content from this website;
        <br>
        (b) modify, edit or create derivative works of content from this website in any way;
        <br>
        (c) reproduce, copy, replicate or otherwise exploit material from this website for a commercial purpose;
        <br>
        (d) remove or alter any copyright or other proprietary notices from content from this website;
        <br>
        (e) use content from this website for republishing or redistribution unless redistribution of that content is expressly permitted
        <br>
        <br>
        <b>Privacy Policy</b>
        <br>
        Your privacy is very important to us.
        Please refer to our Private statement to learn how we collect, use and protect your personal information.
    </p1>
</div>

{% endblock %}